.card {
  background: $card-bg;
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "image"
    "content";

  @media (min-width: 1080px) {
    max-width: 70rem;
    grid-template-areas: "content image";
    grid-template-columns: 50% 50%;
  }

  &-body {
    padding: 2.825rem 2.125rem 2.5rem;
    text-align: center;
    grid-area: content;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;

    @media (min-width: 1080px) {
      padding-left: 4.375rem;
      padding-right: 4.375rem;
      text-align: left;
    }

    h1 {
      margin-bottom: 1.5rem;
      font-size: 1.6rem;

      @media (min-width: 1080px) {
        font-size: 2rem;
      }
    }

    p {
      color: $heading-stats;
      margin-bottom: 2.375rem;
      font-size: 0.8rem;

      @media (min-width: 1080px) {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }

    &-stats {
      @media (min-width: 1080px) {
        margin-top: 5rem;
        display: grid;
        grid-template-areas: "stat-1 stat-2 stat-3";
      }

      .stat {
        h4 {
          margin-bottom: 1rem;
          font-size: 1.125rem;
        }

        p {
          font-size: 0.625rem;
          text-transform: uppercase;
        }
      }
    }
  }

  &-img {
    grid-area: image;
    position: relative;

    &-overlay {
      background: $accent;
      opacity: 0.9;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      mix-blend-mode: multiply;
    }

    &-src {
      background: url("../img/image-header-mobile.jpg");
      height: 15rem;
      background-size: cover;

      @media (min-width: 1080px) {
        background: url("../img/image-header-desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
      }
    }
  }
}
